{% extends "generic.html" %}

{% load static %}

{% block title %}
    <title>HeroArchitect | Create</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block styletag %}
    <style>
        .vertical-centre{
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .centre {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .fill {
            width: 100%;
            height: 100%;
        }
        .container {
            width: 50%;
            height: auto;
            min-height: 10%;
            max-height: 80%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: saddlebrown;
            align-content: center;
            align-self: center;
        }
        form.start {
            height: 100px; /* Set the height of the form explicitly */
        }
        .message-thread {
            max-height: 350px;
            overflow-y: auto;
            margin-bottom: 10px;
            padding: 10px;
        }
        .message {
            margin-bottom: 10px;
        }
        .message-sent {
            text-align: right;
        }
        .message-received {
            text-align: left;
        }
        .textarea-container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
        }
        textarea {
            width: 100%;
            resize: none;
            overflow: hidden;
            min-height: 52px;
            max-height: 10em;
            font-size: 16px;
            flex: 1
        }
        button.start {
            width: 45%;
            height: 60%;
            margin-inline: 2%;

        }
        button.send {
            width: 50px;
            height: 50px;
            margin-left: 10px;
            padding: 5px!important;
        }
        strong.subtitle {
            font-size: 20px;
            color: white
        }
        body, html {
            margin: 0;
            height: 100%;
            overflow: hidden
        }
    </style>
{% endblock %}

{% block content %}
    <script>
        window.onload = function() {
            var chat = document.getElementById("message-thread");
            chat.scrollTop = chat.scrollHeight;
        };
    </script>
    <div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 300px">
        {% if show_prompt %}
        <strong style="color: white">Unsure of where or how to begin? Ask the AI to begin the conversation for you by clicking "Start me off".</strong><br><br>
        <strong style="color: white">Already have a character concept in mind? Feel free to get the first word in by pressing "I have an idea!"</strong>
        <form method="post" class="fill start">
            {% csrf_token %}
            <div id="initial-prompt" class="fill" style="text-align: center;">
                <button name="start" class="start vertical-centre w3-round w3-button w3-border ha-brown" value="ai">Start me off</button>
                <button name="start" class="start vertical-centre w3-round w3-button w3-border ha-brown" value="user">I have an idea!</button>
            </div>
        </form>
        {% endif %}
        {% if show_messages %}
            <div id="conversation" style="width: 100%">
                {% if messages %}
                <div class="message-thread" id="message-thread">
                    {% for message in messages %}
                    <div class="message-{% if message.author == 'user' %}sent{% else %}received{% endif %}">
                        {% if message.author == 'user' %}
                            <strong>You: </strong><p>{{ message.content|linebreaks }}</p>
                        {% else %}
                            <strong>HeroArchitect: </strong><p>{{ message.content|cut:"*"|cut:"#"|linebreaks }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="textarea-container">
                    <form id="message-form" method="post" action="{% url 'create_character' %}" style="display: flex; align-items: flex-start; width: 100%">
                        {% csrf_token %}
                        <textarea name="user_input" oninput="auto_grow(this)" id="user-input" placeholder="Send a message to HeroArchitect..."></textarea>
                        <button type="submit" class="send w3-button w3-border w3-round ha-brown">Send</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% if show_messages %}
        <div class="w3-col w3-round l6 w3-display-bottommiddle">
            <div class="w3-card w3-margin w3-round w3-animate-opacity" style="margin-bottom: 16px!important;">
                <div style="width: 100%; padding: 10px; background-color: saddlebrown; text-align: center; border-top-right-radius: 5px; border-top-left-radius: 5px">
                    <strong class="subtitle">All finished?</strong>
                </div>
                <form id="generate-character" method="post">
                    {% csrf_token %}
                    <div style="margin-inline: 20px; margin-top: 16px">
                        <p>Click here when the conversation is complete and you're satisfied with all of your character details!</p>
                    </div>
                    <div style="text-align: center; font-size: x-large">
                        <button name="generate" value="true" class="w3-round w3-button ha-saddlebrown w3-border" style="text-align: center; margin-bottom: 30px!important">Generate Character</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <script>
        function auto_grow(element) {
            if ((element.scrollHeight)*0.0625 >= 2) {
                element.style.height = "48px";
                element.style.height = (element.scrollHeight)*0.0625 + "em";
            }
            else {
                element.style.height = "48px";
            }
        }
    </script>
{% endblock %}