{% extends "generic.html" %}

{% block title %}
    <title>HeroArchitect | My Characters</title>
{% endblock %}

{% block styletag %}
    <style>
        .vertical-centre{
            top: 50%;
        }
        .absolute-centre {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .text-centre {
            display: inline-block;
            margin: 0 auto;
            text-align: left;

        }
        .text-centre p {
            margin-bottom: 0;
            font-size: 16px;
        }
        .text-centre strong {
            margin: 0;
            font-size: 32px;
        }

        .fill {
            width: 100%;
            height: 100%;
        }
        .list-container {
            width: 60%;
            height: auto;
            min-height: 10%;
            max-height: 80%;
            overflow-y: auto;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: saddlebrown;
            align-content: center;
            align-self: center;
        }
        .text-container {
            position: relative;
            text-align: center;
            padding: 0;
            margin: 0;
            height: auto;
        }
        .character {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 95%;
            text-align: left;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: x-large;
            color: black;
        }
        .character:hover {
            background-color: sandybrown;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="list-container absolute-centre vertical-centre">
        {% if characters %}
            {% for character in characters %}
            <!-- need to make this clickable so that it redirects to character page -->
            <a href="{{ character.id }}" style="text-decoration: none">
                <div class="character">
                    <strong>{{ character.name }}</strong>
                    <span style="float: right">
                        {{ character.class_and_level }}
                    </span>
                </div>
            </a>
            <br>
            {% endfor %}
        {% else %}
            <div class="absolute-centre">
                <div class="text-container">
                    <div class="text-centre">
                        <strong>No characters to display.</strong>
                    </div>
                    <br>
                    <div class="text-centre">
                        <p>Head over to the <a href="/characters/create/">create</a> page to make a character!</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}