{% extends "generic.html" %}

{% load static %}


{% block title %}
    <title>HeroArchitect | Register</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}


{% block content %}
    <div class="w3-round-xlarge w3-border ha-saddlebrown w3-padding-32" style="width: 500px; margin: 200px auto; padding-inline: 32px">
        <strong style="font-size: 24px">Register an account</strong>
        <form id="registration-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <table style="margin-top: 30px">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag}}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
            <br>

            {% if errors %}
            <div id="errors" style="color: red;">
                {% for field_errors in errors.values %}
                    {% for error in field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}


<!--            <div id="password-error" style="color: red; display: none;">* Passwords do not match.</div>-->
<!--            <div id="username-error" style="color: red; display: none;">* Username is already taken.</div>-->
            <input type="submit" class="w3-button ha-brown w3-round-large w3-border" style="font-size: 18px" value="Register">
        </form>
    </div>

<!--    <script>-->
<!--        document.getElementById("registration-form").addEventListener("submit", function(event) {-->
<!--            var password1 = document.getElementById("id_password1").value;-->
<!--            var password2 = document.getElementById("id_password2").value;-->
<!--            if (password1 !== password2) {-->
<!--                event.preventDefault();  // Prevent form submission-->
<!--                document.getElementById("password-error").style.display = "block";-->
<!--            }-->
<!--            var errorMessage = "{{ error_message }}";-->
<!--            if (errorMessage) {-->
<!--                document.getElementById("username-error").innerText = errorMessage;-->
<!--                document.getElementById("username-error").style.display = "block";-->
<!--        }-->
<!--        });-->
<!--    </script>-->

{% endblock %}