{% extends "generic.html" %}

{% load static %}

{% block title %}
    <title>HeroArchitect | Home</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-margin-top" style="width: 100%; text-align: center">
        <strong style="font-size: 30px;">Welcome to HeroArchitect!</strong>
    </div>
    <div class="page w3-container w3-content w3-margin-top">
        <div class="w3-col w3-round m12 l6">
            <div class="w3-card w3-margin w3-round w3-animate-opacity w3-padding">
                hey there
            </div>
            <div class="w3-card w3-margin w3-round w3-animate-opacity w3-padding">
                wassup
            </div>
        </div>
        <div class="w3-col w3-round m12 l6">
            <div class="w3-card w3-margin w3-round w3-animate-opacity w3-padding">
               hello
            </div>
            <div class="w3-card w3-margin w3-round w3-animate-opacity w3-padding">
                hi
            </div>
        </div>
    </div>


{% endblock %}