.topnav {
  background-color: saddlebrown;
  overflow: hidden;
  font-family: Helvetica;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: right;
  color: #f2f2f2;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: brown;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: brown;
  color: white;
}

body {
  background-color: sandybrown;
  font-family: Helvetica;
}

div.form {
  width: 500px;
  padding: 20px;
  margin: 200px auto;
  border: 10px solid black;
  background-color: saddlebrown;

}

.smalltextform {
  width: 100;
  border: 10px solid black;
}

h1 {
  font-family: Helvetica;
}