<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
    {% block title %}
        <title>Title</title>
    {% endblock %}
    {% block styletag %}
        <style>

        </style>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div class="topnav">
        <a {% if request.path == '/' %}
                class="active"
            {% endif %}
            href="/">Home</a>
        <a href="/characters/create/">Create</a>
        {% if not user.is_authenticated %}
            <a href="/auth/login" {% if request.path == '/auth/login/' %}
                class="active"
            {% endif %}>Log in</a>
            <a href="/auth/register" {% if request.path == '/auth/register/' %}
                class="active"
            {% endif %}>Register</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="/characters/mycharacters">My Characters</a>
            <p>Hello, {{username}}</p>
            <a href="/auth/logout" style="float: right">Log out</a>
        {% endif %}
        <a href=""></a>
    </div>
    {% endblock %}
    {% block content %}
        <!-- Deliberately empty; this is where the page body goes -->
    {% endblock %}
</body>
</html>